.main {
    background-color: rgb(43, 43, 43);
}

.line {
    width: 20%;
    height: 1px;
    background-color: rgb(128, 128, 128);
    margin: 10% auto
}

@media screen and (min-width: 500px) {

    .line {
        margin: 1% auto
    }
}
