.events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-past,
.nav-upcoming {
  margin: 0 auto;
}

.event-text,
.tickets {
  color: white;
  letter-spacing: 1px;
}
.flyer {
  max-width: 80%;
}
.event-featuring {
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 30px;
  color: rgba(255, 251, 2, 0.822);
}
.event-supporting {
  margin-bottom: 50px;
}

.nodisplay {
  display: none;
}

.tickets {
  font-size: 24px;
  letter-spacing: 3px;
  padding: 5%;
  border: 1px dashed rgba(255, 255, 255, 0.479);
  text-decoration: none;
}

.short-line {
  width: 50%;
  height: 1px;
  background-color: grey;
  margin: 50px auto;
}

@media screen and (min-width: 500px) {
  * {
    margin: 0 0;
  }
  .event-nav-container {
    margin: 4% 20%;
  }
  .event-outer-container {
    display: flex;
    flex-direction: column;
  }
  .event {
    display: flex;
    width: 100%;
    margin: 2% auto;
    background-color: rgba(255, 255, 255, 0.064);;
  }

  .date-venue-container {
    margin: auto 5%;
  }
  .event-date,
  .event-venue {
    margin: 1%;
  }
  .flyer {
    max-width: 60%;
    margin: 3% auto;
    transition: transform 0.3s;
    opacity: 0.7;
  }
  .flyer:hover {
      transform: scale(1.2);
      opacity: 0.8;
  }

  .flyer-container {
    max-width: 60%;
  }
  .lineup-tickets {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    width: max-content;
    margin-top: 2%
  }
  .event-supporting {
    margin-bottom: 20%;
  }

  .tickets {
    letter-spacing: 8px;
    font-size: 24px;
    margin-bottom: 10%;
    padding: 5%;
    border: 1px dashed rgba(255, 255, 255, 0.479);
    text-decoration: none;
  }

  .tickets:hover {
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.479);
  }
  .short-line {
    width: 80%;
    background-color: white;
  }
}
