.home-container {
    height: 50vh

}

p[class= home-text] {
    color: white;
    line-height: 60px;
}

@media screen and (min-width: 500px) {


    
    .home-container {
        display: flex;
        justify-content: space-around;
        margin: 3% 6% 3% 10%;  
        height: 60vh; 

     }

    p[class= home-text] {
        color: white;
        width: max-content;
        margin-top: 5%;
        letter-spacing: 0.7em
    }
    
}