.console-nav-container {
    display:flex;
    justify-content: space-between;
}

.console-navlink {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.979);
    border: 2px grey solid;
    margin: 10% 3%;
    padding: 2%;
    width: 100px;
    background-color: rgba(251, 255, 0, 0.102);
}

@media screen and (min-width:500px) {

    .console-nav-container {
        margin: 10% 20%;
    }

    .console-navlink {
        margin: 0 5%;
    }
}